*{
    text-decoration: none;
}
html, body, .container {
    height: 100%;
    
}
a{
    text-decoration: none;
    display:block;
    
    
}
a:hover{
    color:#f26522;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.main-bg {
    max-width: 1366px;
    margin: 0 auto;
    background: url("./img/background.png") no-repeat;
    height: 768px;
    
}
/*HEADER START*/
.header-logo{
 float:left;   
    
}
.text{
    display: inline-block;
    
    
}


.header-logo-link{
    margin-left: 155px;
    margin-top: 49px;  

     
    
}
.header-logo-text-big{
 font-family: Verdana;
color:  #f26522;
font-size: 29px;
font-weight: 700;
line-height: 21px;
text-align: left;


    
}
.header-logo-text-small{
font-family: Verdana;
color:  #f26522;
font-size: 18px;
font-weight: 700;
line-height: 21px;
text-align: left;


}
.header-contacts{
    font-family: Verdana;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;   
    float: right;
    padding-right: 147px;
    padding-bottom: 44px;
    padding-top: 57;
    
    
}
.header-contact-text{
font-family: Verdana;
color:  #ffffff;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: left;
margin-top: 57px;
}
.header-contact-number{
font-family: Verdana;
color:  #ffffff;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: right;
}
/*TOUR START*/
.tours{
    margin-left: 157px;
    
}

.tour-type {
float: left;
margin-right: 65px; 
margin-top: 5px; 
position: relative;



}

.tour-type:nth-child(3n) {
    margin-right: 0;
}
.tour-detailes{
position: absolute;
box-sizing: border-box;
padding: 0px;
bottom: 0px;
left: 0px;
background:#f26522;
width: 308px;
height: 63px;
font-family: Verdana;
color:  #ffffff;
font-size: 10px;
display: none;
}
.tour-type:hover .tour-detailes{
    display:block;
}

.tour-name{
font-family: Verdana;
color:  #ffffff;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: center;
text-decoration: none;
margin-top: 20px;

}
.footer{
text-align: center;
font-size: 12px;
font-weight: 400;
line-height: 21px;
font-family: Verdana;
color:  #ffffff;


}


